body {
    margin: 0;
    font-family: 'Garamond', serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: url('images/andromeda.jpg') center/cover fixed;
    color: #fff;
    text-align: left;
    padding: 20px;
    height: 60px;
}

header h1 {
    margin: 0;
}

nav {
    text-align: center;
    background-color: #eee;
    padding: 10px;
    font-size: 2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hover effect */
nav ul li a:hover {
    color: rgba(10, 157, 108, 0.69); /* Change color on hover */
}

/* Style for selected/active link */
nav ul li a.selected {
    font-weight: bold; /* Example: Bold font for selected link */
    text-shadow: 2px 2px 5px rgba(10, 125, 180, 0.5); /* Example: Different color for selected link */
    /* Add any other styles for the selected link */

}

body h1 {
    background-image: url('images/andromeda.jpg');
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 40px;
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Steelfish Rg', 'helvetica neue',
    helvetica, arial, sans-serif;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 1.5em;
}

.main-content {
    text-align: center;
    margin: 20px 0;

}

.main-content img {
    max-width: 100%;
    height: 600px;
    margin-bottom: 20px;
}
/* Add this to your existing CSS or in a new style tag in your HTML */
.image-container {
    position: relative;
    width: 100%; /* Specify the width you want */
    height: 300px; /* Specify the height you want */
}

#explanation {
    position: absolute;
    bottom: 15px;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex; /* Use flexbox for vertical alignment */
    align-items: flex-end; /* Align text to the bottom of the container */
    height: 100%; /* Ensure the text container takes the full height */
}

.image-container:hover #explanation {
    opacity: 1;
}


.image-thumbnail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Four items in a column */
    gap: 60px; /* Spacing between items */

    justify-content: center;
    align-items: center;
}

.image-item {
    width: 100%; /* Full width for each image item */
}

.image-wrapper {
    position: relative;
}

.image-thumbnail img:hover {
    box-shadow: 0 0 2px 1px rgba(1, 51, 68, 0.5);
    transform: scale(1.1); /* Scale up the image on hover */
}

.image-wrapper img {
    border: 1px solid #ddd;
    border-radius: 1px;
    padding: 20px;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top:20px;
}

.button-container button {
    padding: 11px 60px;
    background-color: rgba(27, 93, 121, 0.5);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #2d4d5b;
}


.important {
    color: red;
}

.note {
    position: absolute;
    left: 20px; /* Adjust right distance */
    background-color: #ffffff; /* Background color */
    color: black; /* Text color */
    padding: 15px 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    /* Add any other styles as needed */
}

.note2 {
    position: absolute;
    top: 160px; /* Adjust top distance */
    background-color: rgba(241, 241, 241, 0.36); /* Background color */
    color: #666666; /* Text color */
    padding: 3px 20px; /* Padding */
    border-radius: 6px; /* Rounded corners */
    font-size: 0.9em; /* Smaller font size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adding shadow */
    width: 80%;
    text-align: center;
}

