<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="../static/images/img.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Cosmic Canvas</title>

</head>
<body>
    <header>
        <h2>Cosmic Canvas</h2>
    </header>

   {% block content %} {% endblock %}

<script type="text/javascript" src="../static/js-api.js"></script>

</body>
</html>
