{% extends 'base.html' %}

{% block content %}
    <!-- Navigate to the home page or the gallery page, or the user may refresh the page to get a new AI image -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}" class="selected">Home</a></li>
            <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
            <li><button onclick="refreshPage()"><span title="Get a new AI image">Refresh Page</span></button></li>
        </ul>
    </nav>
    <div class="container">
        <!-- A note to provide users with extra information. For instance, if the APOD is a video. -->
        <div class="note2">
            <p>If there is no image, then the APOD is a video. You can view the
                video at <a href="https://apod.nasa.gov/apod/astropix.html">APOD's official website.</a>
                <span class="important">However, you can still scroll down to see the AI generated picture!
                </span>
            </p>
        </div>
        <section class="main-content">
            <!-- Display information from the APOD API -->
            <h1>NASA Astronomy Picture Of The Day</h1>
            <h2 id="title"></h2>
            <h3>Date: <span id="date"></span></h3>
            <div class="image-container">
                <img id="pic" src="" alt="NASA Astronomy Picture of the day" width="100%">
                <p id="explanation"></p> <!-- #explanation overlays the image with the image description -->
            </div>
            <br/>
            <!-- Display the AI generated image -->
            <div class="image-container">
                <h1>An AI representation of NASA's <span title="Astronomy Picture of the Day">APOD</span></h1>
                <p><i>The AI image may take a moment to load.</i></p>
                <img id="yourImageElementId" src="" alt="Generated Image" width="100%">
            </div>
        </section>
    </div>


    <footer>
        <!-- Let the user know that the previously generated images can be viewed in the Gallery -->
        <div class="note">&#9733;&#9733; View the gallery to see all the images you created! &#9733;&#9733; </div>
    </footer>
{% endblock %}